/* Base Styles */
html {
    background-color: #000;
    font-family: 'Orbitron', Helvetica, Arial, sans-serif;
}
h1, h2 {
    color: #ffe81f;
    text-align: center;
}
h1 {
    font-weight: 900;
    margin-top: 2.5rem;
}
h2 {
    font-weight: 500;
}
p {
    text-align: center;
    line-height: 1.5;
    color: #fff;
}

/* Content Styles */
header {
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Orbitron', Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

div {
    background-color: #696969;
    border-radius: 5px;
}
div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 50%;
}