/* Base Styles */
html {
    background-image: url(/images/space_background.jpg);
    font-family: 'Orbitron', Helvetica, Arial, sans-serif;
}
h1, h2 {
    color: #ffe81f;
    text-align: center;
}
h1 {
    font-weight: 900;
    margin-top: 2.5rem;
}
h2 {
    font-weight: 500;
    margin-bottom: 0;
}
p {
    margin-top: 0;
    text-align: center;
    line-height: 1.5;
    color: #fff;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/* Nav */
nav {
    z-index: 9999;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffe81f;
    background-image: url(/images/star_wars_logo2.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 5rem;
  }
  ul {
    display: flex;
    margin-right: 5rem;
  }
  ul a {
    display: block;
    font-size: 1rem;
    padding: 1rem;
    color: #000;
  }
  ul a:hover {
    background-color: #000;
    color: #ffe81f;
  }

/* Content Styles */
header {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#characters-heading {
    margin-top: 10rem;
}

button {
    font-family: 'Orbitron', Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

div {
    background-color: #696969;
    border-radius: 5px;
}
div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 50%;
}